@font-face {
  font-family: 'Alata';
  src: local('Alata'), url(./assets/fonts/Alata.ttf) format('truetype');
}

@font-face {
  font-family: 'IBMPlexSerif';
  src: local('IBMPlexSerif'), url(./assets/fonts/IBMPlexSerif-Regular.ttf) format('truetype');
}
